@inherits LayoutComponentBase
@using Blazor.Shared

<div class="admin-layout">
    <StaffHeader />
    <main class="admin-content">
        <div class="container-fluid p-4">
            @Body
        </div>
    </main>
</div>