.search-summary {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #6C757D;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 48px;
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: 24px;
}
