@inherits LayoutComponentBase
@using Blazor.Components

<div class="page">
    <GlobalHeader />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <GlobalFooter />
</div>