

<button type="@(IsSubmit ? "submit" : "button")" class="btn @ButtonClass" @onclick="OnClick">
    @ChildContent
</button>

@code {
    /// <summary>
    /// Definerer knappens visuelle stil.
    /// </summary>
    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Primary;

    /// <summary>
    /// Teksten eller HTML-indholdet, der vises inde i knappen.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Metoden, der skal kaldes, når der klikkes på knappen.
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    /// <summary>
    /// Angiver, om knappen skal fungere som en 'submit'-knap i en formular.
    /// </summary>
    [Parameter]
    public bool IsSubmit { get; set; }

    private string ButtonClass => Type switch
    {
        ButtonType.Primary => "btn-primary",
        ButtonType.Accent => "btn-accent",
        ButtonType.Secondary => "btn-secondary",
        _ => "btn-primary"
    };

    public enum ButtonType
    {
        Primary,
        Accent,
        Secondary
    }
}