<a href="/" class="flyhigh-logo">
    <img src="/icon-512.png" alt="Flyhigh Hotel Logo" class="logo-image" />
</a>

<style>
    .flyhigh-logo {
        display: flex;
        align-items: center;
        /* Lidt vertikal padding for at sikre luft omkring logoet */
        padding: 5px 0;
    }

        .flyhigh-logo .logo-image {
            /* Højden er øget for at fylde headeren bedre ud */
            height: 70px;
            width: auto;
        }
</style>