@inject APIService ApiService
@inject NavigationManager Navigation

<header class="global-header">
    <div class="header-content">
        <div class="header-left">
            <FlyhighLogo />
        </div>
        <nav class="header-nav">
            <a href="/rooms">Værelser</a>
            <a href="/facilities">Faciliteter</a>
            <a href="/support/new">Support</a>
            <a href="/about">Om Os</a>
        </nav>
        <div class="header-right">
            <AuthorizeView>
                <Authorized>

                    @if (context.User.IsInRole("Housekeeping"))
                    {
                        <button class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/housekeeping-dashboard")'>
                            Housekeeping
                        </button>
                    }

                    @if (context.User.IsInRole("Receptionist") || context.User.IsInRole("Manager"))
                    {
                        <button class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/admin")'>
                            Booking Management
                        </button>
                    }

                    <button class="btn btn-secondary" @onclick="GoToAccount">
                        Min Konto
                    </button>

                    <button class="btn btn-secondary" @onclick="LogoutClicked">
                        Log ud
                    </button>

                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-secondary" @onclick="LoginClicked">
                        Login
                    </button>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</header>

@code {
    private void LoginClicked()
    {
        Navigation.NavigateTo("/login");
    }

    private void GoToAccount()
    {
        Navigation.NavigateTo("/account");
    }

    private async Task LogoutClicked()
    {
        await ApiService.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}